Baum-Welch/bw_d64_m32_lamda0.9_iters20_fit1_example.h5 filter=lfs diff=lfs merge=lfs -text
BeliefNet/Model_m32_example/ filter=lfs diff=lfs merge=lfs -text
NanoGPT/m32_d64_1l1h_example/ filter=lfs diff=lfs merge=lfs -text
BeliefNet/Model_m32_example//* filter=lfs diff=lfs merge=lfs -text
NanoGPT/m32_d64_1l1h_example//* filter=lfs diff=lfs merge=lfs -text
